services:
  fastapi-app:
    build: .
    container_name: fastapi-app
    restart: always
    environment:
      - PYTHONUNBUFFERED=1
    env_file:
      - ./.env

  n8n:
    image: docker.n8n.io/n8nio/n8n
    container_name: n8n
    restart: always
    ports:
      - "5678:5678"
    environment:
      - N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS=true
      - N8N_RUNNERS_ENABLED=true
    volumes:
      - n8n_data:/home/node/.n8n
    depends_on:
      - fastapi-app

volumes:
  n8n_data: